#primary strong {
  display: none;
}

#primary {
  padding-block: 20px;

  div {
    display: flex;
    align-items: center;
    gap: 0.5rem;
  }

  div:nth-child(2) {
    margin-inline: auto;
  }

  div:nth-child(3) {
    justify-self: end;
  }
}

#secondary {
  padding-block: 14px;
  border-block: 1px solid var(--stroke-color);
  justify-content: space-between;
  overflow-x: auto;
  white-space: nowrap;
  gap: 2rem;
  scrollbar-width: none;
}

@media (min-width: 992px) {
  #primary strong {
    display: inline;
  }
}
