section {
  padding-bottom: 2.5rem;

  header {
    border-top: 1px solid var(--stroke-color);
    padding-block: 12px 24px;
    color: var(--text-color-secondary);
    font: var(--text-span);

    a {
      align-items: center;
      gap: 8px;
      grid-auto-flow: column;
      justify-self: end;
      width: fit-content;

      strong {
        color: var(--text-color-secondary);
        font: var(--text-span);
      }

      span {
        background-image: url(../assets/icons/ArrowRight.svg);
        width: 16px;
        height: 16px;
      }

      &:hover span {
        background-image: url(../assets/icons/ArrowRight-hover.svg);
      }
    }
  }

  p {
    color: var(--text-color-secondary);
  }
}

#featured {
  grid-area: featured;

  img {
    height: 100%;
    object-fit: cover;
    border-radius: 4px;
  }

  .card {
    position: relative;
    overflow: hidden;
    border-radius: 4px;

    &:first-child {
      height: 328px;
    }

    &::before {
      content: "";
      position: absolute;
      background-image: linear-gradient(180deg, transparent 0%, #020617 100%);
      inset: 0;
      top: 50%;
    }

    figcaption {
      position: absolute;
      bottom: 0;
      padding: 24px;

      &:has(.text-lg) {
        padding: 12px;
      }

      h2 {
        margin-top: 8px;
        overflow: hidden;
        display: -webkit-box;
        -webkit-box-orient: vertical;
        -webkit-line-clamp: 3;
        line-clamp: 3;
      }
    }
  }
}

#weekly {
  grid-area: weekly;

  figure {
    position: relative;

    .content-tag {
      position: absolute;
      top: 8px;
      left: 8px;
    }

    p {
      margin-top: 8px;
      font-weight: 800;
    }
  }
}

#ai {
  grid-area: ai;

  img {
    width: 80px;
    height: 80px;
    object-fit: cover;
  }

  div:last-child {
    order: -1;
  }

  h3 {
    margin-block: 8px 4px;
    overflow: hidden;
    display: -webkit-box;
    -webkit-box-orient: vertical;
    -webkit-line-clamp: 2;
    line-clamp: 2;
  }

  p {
    overflow: hidden;
    display: -webkit-box;
    -webkit-box-orient: vertical;
    -webkit-line-clamp: 4;
    line-clamp: 4;
  }
}

aside {
  grid-area: aside;
}

#more {
  margin-top: 32px;

  img {
    width: 72px;
    height: 72px;
    object-fit: cover;
  }

  h3 {
    margin-top: 8px;
    overflow: hidden;
    display: -webkit-box;
    -webkit-box-orient: vertical;
    -webkit-line-clamp: 2;
    line-clamp: 2;
  }
}

@media (min-width: 992px) {
  section {
    padding-bottom: 5rem;
  }

  #featured {
    grid-auto-flow: column;

    & > div {
      grid-template-columns: repeat(2, 1fr);
    }

    .card:first-child {
      height: 100%;
    }
  }

  #weekly {
    & > div {
      grid-template-columns: repeat(4, 292px);
    }

    img {
      height: 160px;
    }
  }

  #ai {
    img {
      width: 176px;
      height: 176px;
    }
  }
}
